/*Loads more styling could be added.  Trying different ideas clearly down below.*/
/*I can see why people plug and play templates and what not.*/
/* neat little trick I learned.  First, runs the imported css file.*/
@import url('./utility.css');

/* Image background. */
#img-Change {
    background-image: url('./assets/snow.png');
    height: 100%;
    background-repeat: no-repeat;
    background-position: 55%;
    background-size: cover;
}

/* Parent to all other containers */
.contain-Weather {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8vmax;
    grid-template-areas:
    'currentT currentT currentT'
    'currentW currentW currentW'
    'hourly hourly hourly'
    'days days days';
    align-content: center;
}
/* Current Time */
.current-CT {
    grid-area: currentT;
    margin-right: auto;
    padding: 10px;
}

/* Current Weather */
.current-CW {
    grid-area: currentW;
    margin-left: auto;
    padding: 10px;
}
/* Hourly prediction */
.contain-Hourly {
    grid-area: hourly;
    padding: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/* Next day-s prediction */
.contain-Days {
    grid-area: days;
    margin-left: auto;
    padding: 10px;
}

/* Attributes to certain elements within containers. */
.inline {
    display: inline-block;
}
.padding {
    min-width: 42px;
}
#screenRead {
    display: none;
}

 /* Background for all containers. */
.myContainerBG {
    border-radius: 5px;
    background: hsl(0 0% 100% / .75);
}

/* Support looking for blur function */
@supports(backdrop-filter: blur(1rem)){
    .myContainerBG {
        background: hsl(0 0% 100% / .5);
        backdrop-filter: blur(1rem);
    }
    #Selection {
        background: rgba(2, 2, 2, 0.1);
        backdrop-filter: blur(1rem);
    }
}

/* Add City pop up box mobile, input box show desktop*/
/*button opens and closes selection box*/
#myButton-OpenClose {
    --b: calc(3.2px + .25vmax); /* the thickness of symbol created */
    width: calc(32px + 1vmax); /* the size of border around and including symbol */
    aspect-ratio: 1; /* calls height to be same as width. */
    border: 10px solid #000; /* the outer space */
    border-radius: 50%; /* made it a circular button */
    background:
          conic-gradient(from 90deg at var(--b) var(--b),#000 90deg,#fff 0) /* Black as the background and as it rotates 90 creating symbol in white */
          calc(100% + var(--b)/2) calc(100% + var(--b)/2)/   /* Creates symbol evenly. */
          calc(50%  + var(--b))   calc(50%  + var(--b));
    position: absolute;  /* pandhandler mode */
    top: 15px;
    right: 15px;
    opacity: .75;
}
#myButton-OpenClose[aria-expanded="true"]{
    transform: rotate(45deg);
    transition: transform 350ms;
}
/*city selection box*/
#Selection {
    position: fixed;
    inset: 0px 0px 0px 15%;
    border-radius: 0 0 0 5px;
    background: hsl(0 0% 0% / .8);
    padding: 15px;
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
}
#Selection[data-visible="true"] {
    transform: translateX(0%);
}
/*Form input field*/
#user-Selected {
    margin-top: calc(32px + 1vmax);
}
/*Label 'Add a City' */
#city {
    color: white;
    font-size: 32px;
}
/*City Input box*/
#city-Input {
    font-size: 16px;
    margin-right: 10px;
}
#city, #city-Input {
    display: block;
}
/*Submit button and Clear localstorage button*/
#city-btn, #clear {
    font-size: 16px;
}
#city-Input, #city-btn, #clear {
    padding: 5px;
}
#city, #city-Input, #city-btn, #clear {
    margin-bottom: 10px;
}

/*It was play time down there.  Not complete understanding but I have to work to get there.*/
/*Media screen for portable devices. No orientations added.  buncha weird stuff going on down below.*/
@media (min-width: 320px){
    .contain-Weather {
        grid-gap: 3.5vmax; 
    }
    #Selection {
        inset: 0px 0px 0px 25%;
    }
}
/*this is my iphone setting for more understanding*/
@media (min-width: 320px) and (max-height: 569px){
    h1 {
    font-size: calc(1rem + 3.5vmin);
    }
    h2 {
    font-size: calc(.75rem + 3.5vmin);
    }
    h3 {
    font-size: calc(.25rem + 3.5vmin);
    }
    p {
    font-size: calc(.25rem + 3.5vmin);
    }
    .contain-Weather {
        grid-gap: 4vmax; 
    }
}
@media (min-width: 360px){
    #Selection {
        inset: 0px 0px 0px 34%;
    }
}
@media (min-width: 360px) and (min-height: 740px){
    .contain-Weather {
        grid-gap: 7vmax;
    }
    #Selection {
        inset: 0px 0px 0px 34%;
    }
}
@media (min-width: 390px) and (min-height: 844px){
    .contain-Weather {
        grid-gap: 10vmax;
    }
    #img-Change {
        background-position: center;        
    } 
    #Selection {
        inset: 0px 0px 0px 40%;
    } 
}
@media (min-width: 500px){
    #Selection {
        inset: 0px 0px 0px 50%;
    }
}
@media (min-width: 600px){
    .contain-Weather {
        grid-gap: 4vmax;
    }
    #Selection {
        inset: 0px 0px 0px 60%;
    }
}
@media (min-width: 800px){
    .contain-Weather {
        grid-gap: 7vmax
    }
    #Selection {
        inset: 0px 0px 0px 70%;
    }
}
/* Less than one ratio screens start here */
@media (min-width: 1024px) and (min-height: 600px){
    #img-Change {
        background-position: 0 20%;
    }
    h1 {
        font-size: calc(1rem + 3.5vmin);
    }
    h2 {
        font-size: calc(.75rem + 3.5vmin);
    }
    h3 {
        font-size: calc(.25rem + 3.5vmin);
    }
    p {
        font-size: calc(.25rem + 3.5vmin);
    }
    .contain-Weather {
        display: grid;
        grid-template-columns: repeat(3);
        grid-gap: 8vmax;
        grid-template-areas:
            'currentT currentT currentT'
            'currentW hourly hourly'
            'days days days';
    }
    .current-CW {
        margin: 0;
        margin-right: auto;
    }
    .contain-Hourly {
        padding: 10px;
        margin-left: auto;
    }
    #Selection {
        inset: 0px 0px 0px 77%;
    }
}
@media (min-width: 1024px) and (min-height: 1366px){
    .contain-Weather {
        grid-gap: 4.5vmax;
    }
    .current-CT {
        margin-top: 45px;
    }
    #Selection {
        inset: 0px 0px 0px 77%;
    }
}
@media (min-width: 1280px){
    #img-Change {
        background-position: 0 20%;
    }
    .current-CT {
        margin-top: 40px;
    }
}

/* zMaG33z */