/* neat little trick I learned.  First, runs the imported css file.*/
@import url('./reset.css');

/*  */

#img-Change {

    background-image: url('./assets/snow.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 42%;
}

.contain-Weather {
    display: grid;
    grid-gap: 75px;
    grid-template-areas:
    'currentT'
    'currentW'
    'hourly'
    'days';
    
}

.current-CT {
    grid-area: currentT;
    margin-right: auto;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}

.current-CW {
    grid-area: currentW;
    margin-left: auto;
    padding: 10px;
    text-align: center;

}

.contain-Hourly {
    grid-area: hourly;
    padding: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.contain-Days {
    grid-area: days;
    margin-left: auto;
    padding: 10px;
    text-align: center;
}

.Tomorrow {
    grid-area: tomorrow;

}

.day-After-Tom {
    grid-area: dayaftertom;
}

.inline {
    display: inline-block;
}

.padding {
    width: 42px;
}

.grey {
    background-color: grey;
}

button {
    width: 2rem;
    aspect-ratio: 1;
    position: absolute;
    top: 15px;
    right: 15px;

}
/*media full screens for portable devices.*/

@media (min-width: 412px){
    #img-Change {
        background-position: 30%;
    }
}

@media (min-width: 600px){
    #img-Change {
        background-position-y: 50%;
    }
}

@media (min-width: 800px){
    #img-Change {
        background-position: center top;
    }
}

@media (min-width: 1024px){
    #img-Change {
        background-position-y: 25%;
    }
}



@media screen and (width: 1280px){
    #img-Change {
        background-position: 80% 20%; 
      
    }
}
