/* root variable directory !special 'not used atm future use'*/
:root {
    --myBG: rgb(255, 255, 255);
}

/* no padding or margins please and preferred font size */
* {
    margin: 0;
    padding: 0;
}

/* created beginning variable font sizes */
body, html {
    background: rgb(28, 28, 28);
    min-height: 100%;
    overflow-x: hidden;
}
h1 {
    font-size: calc(1rem + 5vmin);
}
h2 {
    font-size: calc(.75rem + 5vmin);
}
h3 {
    font-size: calc(.25rem + 5vmin);
}
p {
    font-size: calc(.25rem + 5vmin);
}



